{% extends "base.html.jinja" %}

{% block content %}
<h2>Contribute</h2>
<p>
Let us add a statement for you <a href="{{'contribute/add_statement' | add_pages_root}}">here</a>
</p>
<p>
Extract statements from a paper <a href="{{'contribute/add_paper' | add_pages_root}}">here</a>
</p>
{% endblock %}
