{% extends "base.html.jinja" %}

{% block title %}Proof Assistant - LM Theory{% endblock %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script>
    window.MathJax = {
        loader: {load: ['[tex]/mathtools']},
        tex: {
            tags: 'all',  // Automatically number all display equations
            packages: {'[+]': ['mathtools']},
            autoload: {
                coloneqq: ['mathtools']
            },
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            macros: {
                {{[] | code_list}}
            },
            environments: {
                {{[] | code_list}}
            },
        },
        options: {
            renderActions: {
                addMenu: []
            },
            ignoreHtmlClass: "tex2jax_ignore",
            skipHtmlTags: ["script", "noscript", "style", "textarea", "pre", "code"]
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.12/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.7/purify.min.js"></script>
    
{% endblock %}

{% block content %}
<h2>Proof Assistant</h2>

At this page, you can get assistance for constructing informal proofs and building new theorems.
<br>
<br>
The assistant has access to all statments in the statement database. Refer to them with the corresponding numbers (e.g. Theorem 1, Definition 11, etc.)

<h2>Chat</h2>

<div id="chat-container">
    <div id="messages"></div>
    <div id="input-container">
        <input id="message-input" type="text" placeholder="Type a message..." />
        <button id="send-button">Send</button>
    </div>
</div>
<script src="/assets/js/scripts.js"></script>

{% endblock %}